<div>
  <h1 class="font-bold text-4xl">Sessions#create</h1>
  <p>Find me in app/views/sessions/create.html.erb</p>
  <% if flash[:notice] %>
    <%= content_tag :h1, flash[:notice] %>
  <% else %>
    <%= content_tag :h1, "Please Log in" %>
  <% end %>
    <%= form_with url: sessions_path do |f| %>
    <%= f.text_field :email %><br>
    <%= f.password_field :password %><br>
    <%= link_to "Sign Up", new_user_path %>
    <%= f.submit "Sign In!" %>
  <% end %>
</div>
