<style>
  .gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
</style>
<body class="leading-normal tracking-normal text-white gradient text-center font-semibold text-4xl" style="font-family: 'Source Sans Pro', sans-serif;">

<div>  
  <% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% else %>
  <%= content_tag :h1, "Ingrese sus datos de acceso" %>
<% end %>
  <%= form_with :class => 'w-full grid grid-cols-6 gap-4 w-full mt-28 ml-10', url: sessions_path do |f|%>
    <%= content_tag :h1, "Usuario" %><%= f.text_field :email , :class => 'text-black' %><br>
    <%= content_tag :h1, "Contraseña" %><%= f.password_field :password, :class => 'text-black'  %><br> 
  <%= f.submit "¡Loguearse!" , :class => 'col-start-2 col-span-4 mt-24 mr-24 w-9/12 bg-transparent hover:bg-white text-white font-semibold hover:text-gray-800 py-5 px-4 border border-white hover:border-transparent rounded'  %>
<% end %>
</div>
</body>
