<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Simple landind page" />
    <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
      }
    </style>
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    <div class="grid grid-cols-6 gap-4 w-full mt-28">
      <div class="col-start-2 col-span-4 text-center text-4xl">¡Hola bienvenido!</div> 
        <div id="navAction" class="col-start-3 col-end-5 w-full text-center w-3/12 mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          
          <%= link_to 'Inicia sesión', ingresar_path%>
        </div>
          
    </div>
  </body>
</html>

