<style>
  .gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
</style>
<body class="leading-normal tracking-normal text-white gradient text-left font-semibold text-1xl" style="font-family: 'Source Sans Pro', sans-serif;">


<div id="<%= dom_id persona %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nombre:</strong>
    <%= persona.nombre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fecha nacimiento:</strong>
    <%= persona.fecha_nacimiento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lugar nacimiento:</strong>
    <%= persona.lugar_nacimiento %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estado civil:</strong>
    <%= persona.estado_civil %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genero:</strong>
    <%= persona.genero %>
  </p>

  <% if action_name != "show"%>
    <%= link_to "Mostrar registro de persona", persona, class: "text-gray-800 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Editar registro de persona', edit_persona_path(persona), class: "text-gray-800 rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
</body>
