<style>
  .gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  }
</style>
<body class="leading-normal tracking-normal text-gray-800 gradient text-left font-semibold text-1xl" style="font-family: 'Source Sans Pro', sans-serif;">

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Edición de registro de persona</h1>

  <%= render "form", persona: @persona %>

  <%= link_to "Mostrar este registro", @persona, class: "text-gray-800 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Regresara a lista de personas", personas_path, class: "text-gray-800 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</body>
