
<style>
.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
</style>
<body class="leading-normal tracking-normal text-white gradient text-left font-semibold text-2xl" style="font-family: 'Source Sans Pro', sans-serif;">

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Nuevo registro de persona</h1>

  <%= render "form", persona: @persona %>

  <%= link_to 'Regresar a listado', personas_path, class: "text-gray-800 ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</body>
